body {
	font-family: Helvetica;
	background: #273843;
}

#bgvid { 
    width: 100%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
 }

@media (max-width: 768px){
	#bgvid {
		height: 200%;
		width: auto;
	}
}

 .navbar-brand {
 	font-weight: bold;
 }

.wrapper {
	background: white;
}

.title {
	font-family: Helvetica;
	letter-spacing: 10px;
	display: block;
    font-size: 10vw;
    vertical-align: baseline;
    color:white;
    margin-top: 20%
}

@media (max-width: 576px) {
	.title {
		font-size: 15vw;
	}
}

.s4 h1 {
	font-weight: 300;
	word-spacing: -0.15em;
}

.s4 h1 span {
	font-weight: 800;
}



.explore {
	background: none;
	color: white;
	font-size: 20px;
	border-color:white;
	word-spacing: -0.15em;
	position: relative;

}

.explore:hover {
	color: black;
	background: white;
}

.arrow {
	border: none;
	background: none;

	position: relative;
	top: 0px;
	transition: top ease 0.75s;
}

.arrow:hover {
  top: +20px;
}


#copyright {
	color: white;
	position: relative;
	top: 45%;
	text-align: center;
	font-size: 20px;
}


.navbar {
	padding-left: 1%;
	display: none;
}

.nav {
	border-style: none;
}

#aboutMeNav {
	color: green;
}

.navbar-nav > li > a {padding-top:20px !important; padding-bottom:20px !important;}
.navbar {min-height:32px !important}

.divider-vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#chat {
	float: right;
}


@media(max-width: 575px) {
	#map {
	height: 50%;
	}
}

@media(min-width: 576px) {
	#map {
		height: 75%;
	}
}

#chatBot {
    width: 100%;
    height: 0%;
    border: 10px solid;
    background: green;
    opacity: 0.5;
}

h3 {
	font-size: 40px;
}

#logo {
	font-family: Big John;
	margin-left: 30%;
	margin-right:10%;
}


.item { max-height:100%; }

@media (max-width: 768px) {
	.photoFilm, .nobles, .robotics, .service, .sports, .engineering {
		display: inline-block; 
		height: auto;
		margin-bottom: 10%;
	}
}

.section {
	width: 100%;
}

.XS {
	height: 20%;
}

.SM {
	height: 50%;
}

.M {
	height: 75%;
}

.LG {
	height: 90%;
}

.XL {
	height: 100%;
}

.s1 {background: #00AB38;}
.s2 {background: #FFFFFF;}
.s3 {background: #273843;}
.s4{
	text-align: center;
}

.photoFilm {background: #D3D3D3;}
.nobles {background: #D3D3D3;}
.robotics {background: #D3D3D3;}
.service {background: #D3D3D3;}
.sports {background: #D3D3D3;}
.engineering {background: #D3D3D3;}
.contactMe {background: #D3D3D3;}

.tint {
    background: rgba(0, 255, 255, 0.5)
  }

.sectionHead {
	padding-top: 5%;
	padding-left: 5%;
}

.photoLink {
	height: 300px;
	width: 300px;
	background: black;
	color: white;
	border-color: black;
}


.overlay {
	position: relative;
	width: 100%;
	height: 450px;
	top: 450px;
	margin-top: -450px;
	z-index: 1;
}